div.results
    div#orientation
        p x:
            span.x
        p y:
            span.y
        p z:
            span.z
    div#acceleration
        p x:
            span.x
        p y:
            span.y
        p z:
            span.z
    div#rotation
        p x:
            span.x
        p y:
            span.y
        p z:
            span.z
div#fakeKeyboard.quads
    button.quad Top Left
    button.quad Top Right
    button.quad Bottom Left
    button.quad Bottom Right