//Text
@mixin headings {
	font-family: $headingFont;
	font-weight: 500;
}

//Borders
@mixin highlightedSeparators($orientation) {
	@if $orientation == vertical {
		border-top: $translucentSeparator;
		border-bottom: $translucentSeparator;
	} @else if $orientation == horizontal {
		border-left: $translucentSeparator;
		border-right: $translucentSeparator;
	}
}

//Form elements
@mixin textButton($colour: $txt-colour) {
	font-size: $textButtonSize;
	font-weight: 300;
	font-family: $headingFont;
	color: $colour;
	background: transparent;
	border: none;
}

@mixin button($restColour: $standardbutton-colour, $activeColour: $standardbuttonfocus-colour) {
	//border-radius: 10em;
	border-radius: 0.2em;
	border: none;
	padding: 0.5em;
	background-color: $restColour;
	color: darken(rgba($activeColour, 1), 20%);
	font-weight: 500;
	outline-style: none;
	transition: $formChange background-color ease-in-out, $formChange color ease-in-out;
	&:hover {
		background-color: $activeColour;
		color: lighten(rgba($restColour,1), 20%);
	}
}