header {
	height: $titlebar-height;
	width: $titlebar-width;
	background-color: $titlebar-underlay;
	padding-bottom: $titlebarunderlay-height;
	.breadcrumb {
		background-color: $titlebar-colour;
		width: $titlebar-width;
		padding: 0 1em;
		display: flex;
		align-items: center;
	}
}