doctype
html
  head
    link(rel="stylesheet" href="/styles/main.css")
    title Motion Visualiser
    script(src="/scripts/animator.js")
    script(src="/scripts/plotter.js")
    script(src="/scripts/sky.js")
    script(src="/scripts/init.js")
  body
    != yield