doctype
html
  head
    link(rel="stylesheet" href="/main.css")
    script(src="/scripts/init.js")
    script(src="/scripts/stream.js")
    script(src="/scripts/motiontracker.js")
    script(src="/scripts/touchrecorder.js")
    script(src="/scripts/datauploader.js")
  body
    != yield