doctype
html
  head
    meta(name="viewport", content="user-scalable=no")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=1")
    link(rel="stylesheet" href="/styles/main.css")
    title Motion Logger
    script(src="/scripts/KeyManager.js")
    script(src="/scripts/init.js")
    script(src="/scripts/stream.js")
    script(src="/scripts/motiontracker.js")
    script(src="/scripts/touchrecorder.js")
    script(src="/scripts/datauploader.js")
    script(src="/scripts/frontend.js")
  body
    != yield