doctype
html
  head
    title Motion Logger
    link(rel="stylesheet" href="/styles/main.css")
    script(src="/scripts/KeyManager.js")
    script(src="/scripts/init.js")
    script(src="/scripts/stream.js")
    script(src="/scripts/motiontracker.js")
    script(src="/scripts/touchrecorder.js")
    script(src="/scripts/datauploader.js")
    script(src="/scripts/frontend.js")
  body
    != yield